{% extends 'base.html.twig' %}
{% block body %}
    <h1>Conditions Générales de Vente –</h1>
    <h2>KY EVENTS</h2>
    <section>
        <h3>Article 1 -Définition de la prestation :</h3>
        <p>
            La prestation comprend en terme de personnels, la mise à disposition d'un chauffeur et le cas échéant les options définis avec le client, ainsi que le temps selon devis. En termes de fourniture la prestation comprend les consommables tel que gobelets, flûtes, serviettes, glaçons ainsi que les boissons softs à volonté le temps de la prestation. La prestation traiteur et ou boissons alcoolisées de catégorie deux sont soumises à options à valider avec le client. Nos prix sont exprimés en EUROS et Toutes Taxes Comprises (TTC).
        </p>
    </section>
    <section>
        <h3>Article 2 –Règlement et caution :</h3>
        <p>
            Pour toute réservation, un acompte minimum de 30% devra être versé par le client par tous moyens à sa convenance, les règlements par chèque ne sont toutefois pas acceptés. Pour les sociétés et administrations, après avoir validé le bon de commande par signature et cachet de l’établissement, le commanditaire de la prestation demandée et signataire du bon de commande et ou son garant sont seul responsable du paiement en cas de défaillance de l'utilisateur. Le solde du règlement, sauf accord de la société «KY EVENTS», peut se faire au plus tard 96H00 avant l'évènement par virement, par carte bancaire via le site internet ou en espèces dans nos bureaux.<br>
            Il vous faudra également remettre la caution d’un montant de 1000€* par chèque à l’ordre de la société KY EVENTS afin de garantir les éventuels dégâts et frais de nettoyage, en cas de vomissements un forfait 150€ sera automatiquement facturé. Le chèque ne sera pas encaissé, il vous sera restitué en fin de prestation en l’absence de dégâts et ou vomissements.
        </p>
    </section>
    <section>
        <h3>Article 3 -Désistement :</h3>
        <p>
            Tout désistement du fait du client d ́une réservation effectuée plus de vingt sept jours avant l'évènement, quelle qu'en soit la cause, entraîne la perte des sommes versés à titre d ́indemnité forfaitaire et irréductible. Les sommes versés ne pourront pas être reportés sur une date ultérieure. Les réservations non annulées vingt sept jours avant la date de l’évènement, ou l'absence du client à la prise en charge, seront facturées intégralement et ne pourront pas être reportées à une date ultérieure.
        </p>
    </section>
    <section>
        <h3>Article 4 -Indisponibilité du véhicule :</h3>
        <p>
            Dans le cas ou notre prestataire transporteur ne peut mettre à disposition le véhicule prévu dans le contrat, ou un autre véhicule avec les mêmes équipements, les sommes déjà versées seront intégralement remboursées sans recours ni indemnité. Toutefois les arrhes seront conservés si les deux parties s ́entendent sur la mise à disposition d ́un autre véhicule ou du même véhicule à une date ultérieure. En cas de panne ou accident ou tout autre incident du fait de la société transporteur partenaire au cours de la prestation, le temps d’immobilisation du véhicule sera prolongé d’autant pour le client sans qu’aucun autre dédommagement ne puisse être réclamé par le client. En cas de seconde location rendant impossible la prolongation de la mise à disposition du véhicule en guise de compensation, une indemnité forfaitaire de dix pourcent du montant de la prestation hors taxe du véhicule à l’exception de toutes autres options sera offerte au client en guise de dédommagement total sans autre recours ni indemnité pour le préjudice éventuel causé. En cas d’indisponibilité du véhicule suite à un accident ou événement extérieur à la société prestataire transporteur rendant impossible la prestation (débuté ou non) et ceci due à une tiers personne responsable connue ou non, aucun recours ne pourra être engagé à l’encontre de la société KY EVENTS, il appartiendra alors au locataire de prendre ses dispositions vis a vis du tiers responsable connue ou non.
        </p>
    </section>
    <section>
        <h3>Article 5 -Sécurité et dégradations :</h3>
        <p>
            Le Client est informé que le chauffeur se doit de respecter le code de la route. Il lui est interdit d ́enfreindre celui-ci (limitation de vitesse, sens interdit) même à la demande du client, dont il ne peut recevoir aucune instruction. En cas de dégradation de l ́équipement intérieur ou autres dommages infligés au véhicule du prestataires ou d ́autres véhicules, par exemple lors de l ́ouverture intempestive des portières, les dégâts causés seront entièrement à la charge du client. Seul le chauffeur à la faculté d'ouvrir et fermer les portes. Il est interdit de fumer à l ́intérieur des véhicules de nos prestataires; le chauffeur a pour consigne de s ́arrêter (dans les conditions de sécurité et sans que cela soit un gène pour la circulation et ou habitation) pour permettre aux fumeurs de se détendre s ́ils le souhaitent. Les barres de maintient à bord du véhicule prestataire servent aux déplacements des voyageurs en aucun cas elles ne peuvent être utilisés comme supports extravagants. Si le personnel à bord observe que le client et/ou l'un des passagers commet une infraction ou bien se révèle être dans un état physique ou mental incompatible avec le déroulement serein du transport ou avec le respect des conditions de sécurité et/ou d'hygiène des autres passagers, il a pour consigne d ́arrêter immédiatement le déplacement en cours. Cet arrêt ne donnera en aucun cas droit à un quelconque remboursement, quelque soit le temps et kilomètres écoulé depuis le départ. Aucun animal ne sera accepté dans les véhicules prestataires. L'itinéraire du bus est décidé par la société de transport prestataire qui en aura préalablement défini les modalités avec le Client. Le chauffeur ne se détournera pas de cet itinéraire et ne peut recevoir aucune consigne du client en ce sens. Le client et les passagers demeurent dans tous les cas seuls responsables de leurs effets personnels. La société KY EVENTS ne peut être tenue responsable de disparition d'objets du client ou de ses invités.
        </p>
    </section>
    <section>
        <h3>Article 6 -Apport de(s) boisson(s), mise en bouche et vente à l'intérieur du véhicule :</h3>
        <p>
            L’apport de boisson et de mise en bouche destiné à la consommation personnelle est soumis aux règles des sociétés partenaires. Le cas échéant, la distribution des boissons alcoolisées* et soft (*bière et champagne) est également soumise aux règles de la société Prestataires fournisseur du dit service. La vente de tous produits et plus particulièrement la vente d'alcool sous quelques formes que ce soit est strictement interdite.
        </p>
    </section>
    <section>
        <h3>Article 7 :</h3>
        <p>
            Accessoire à bord du véhicule : Les télés et afficheur de message à bord du véhicule correspondent à des accessoires et ne représentent pas un élément indissociable de la prestation. Ils sont soumis à de très fortes perturbations, malgré toute notre vigilance et nos contrôles permanents une défaillance de ces derniers n’est pas impossible. De ce fait, en cas d’impossibilité de mise à disposition de ces derniers aucun dédommagement, ni aucun recours ne peut être demandé et/ou engagé par le client.
        </p>
    </section>
    <section>
        <h3>Article 8 -Propriétés Intellectuelle :</h3>
        <p>
            Si la location du véhicule s'accompagne de la reproduction d'affichage publicitaire sur le bus de quelque manière que ce soit (flocage.), le Client répondra seul de toute mise en œuvre de responsabilité décidée par un tiers pour utilisation contrefaisante de logos, marques ou modèles. La société My CarEvents ne pouvant en aucun cas être tenue responsable, le Client garantira à la société KY EVENTS de toute condamnation éventuelle.
        </p>
    </section>
    <section>
        <h3>Article 9 -Litiges :</h3>
        <p>
            Tout litige pouvant naître à l'occasion des présentes sera soumis au droit français et demeurera de la compétence exclusive du tribunal de Commerce de Pontoise sauf dispositions d'ordre public du code de procédure civile.
        </p>
    </section>
    &nbsp;
{% endblock %}