{% extends 'base.html.twig' %}
{% set title = "Mentions légales" %}
{% block body %}
    <h1>mentions légales</h1>
    <h2>Propriétaire du site</h2>
    <p>
        Le présent site internet est géré par la société KY EVENTS, SAS au capital de 1.000 €<br>
        <br>
        RCS Pontoise B : 949 234 561<br>
        Numéro de TVA intracommunautaire : <br>
        <br>
        Le siège social de la société KY EVENTS est situé au :<br>
        27 Rue du Gros Murger<br>
        95220 Herblay-sur-Seine<br>
        <br>
        Le site est hébergé par la société <a class="bold" href="https://www.ovhcloud.com/fr/">OVH SAS</a>.
    </p>
{% endblock %}