{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <iframe src="https://mini.bus-discotheque.paris/forms/quote/b82fcfe03afd5290db0e45889cdc86cd" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}