<footer>
    <div>
        <div id="medias">
            <a class="instagram" target="_blank" href="https://www.instagram.com/minibuspartyparis/"></a>
            <a class="facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100089249358760"></a>
            <a class="tiktok" target="_blank" href="https://www.tiktok.com/@minibuspartyparis?lang=fr"></a>
        </div>
        <div id="footer_nav">
            <a href="{{ path('legals') }}">Mentions légales</a>
            <a href="{{ path('cgv') }}">CGV</a>
        </div>
        &nbsp;
    </div>
</footer>