@mixin position($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin background-prs($position: center center, $repeat:no-repeat, $size:cover){
  background-position:$position;
  background-repeat:$repeat;
  background-size:$size;
}

@mixin mobile-width($width:100%){
  @media screen and (max-width:$tablet_width) {
    max-width:$width;
    width:$width;
  }
}