#page_cgv{
  background-color:$background-black;
  section{
    width:calc(100% - 60px);
    max-width:$site-width-l;
    margin:40px auto;
    text-align:center;
    font-size:16px;
    line-height:20px;
    padding:30px;
  }
}