#page_packs{
  background-color:$background-black;

  .container{
    max-width:$site-width-l;
    width:100%;
    margin:0 auto;
    text-align:center;

    >p{
      line-height:23px;
      font-size:16px;
    }

    #packs{
      display:flex;
      flex-direction: column;

      .pack{
        width:100%;
        height:450px;
        margin-bottom:30px;
        &-left{
          width:auto;
          height:100%;
          float:left;
        }
        &-right{
          width:55%;
          height:100%;
          float:left;

          h2{
            font-family: "Marzo W00 Regular", sans-serif;
            text-align: left;
            text-transform:uppercase;
            font-size:28px;
            margin:10px;
            height:30px;
          }
        }
        &-options{
          display:grid;
          grid-template-columns: 45% 45%;
          grid-gap:0;
          grid-auto-rows:minmax(100px, auto);
          flex-direction: column;
          flex-wrap:wrap;
          margin-left:30px;
          height:calc(100% - 50px);
        }
        &-option{
          margin-top:15px;
          width:100%;
          &-logo{
            width:100px;
            height:85px;
            background-size:contain;
            background-position:center center;
            background-repeat:no-repeat;
            float:left;

            &.birthday_adult{background-image:url('../../images/icon/options/birthday_adult.webp');height:140px;}
            &.bluetooth{background-image:url('../../images/icon/options/bluetooth.webp');}
            &.carpet{background-image:url('../../images/icon/options/carpet.webp');}
            &.champagne{background-image:url('../../images/icon/options/champagne.webp');height:140px;}
            &.driver{background-image:url('../../images/icon/options/driver.webp');}
            &.karaoke{background-image:url('../../images/icon/options/karaoke.webp');}
            &.lights{background-image:url('../../images/icon/options/lights.webp');}
            &.pick_points{background-image:url('../../images/icon/options/pick_points.webp');}
            &.softs{background-image:url('../../images/icon/options/softs.webp');}
          }
          &-name{
            text-transform:uppercase;
            font-size:13px;
            float:left;
            width:calc(100% - 160px);
            height:100%;
            span{
              vertical-align: middle;
              height:100%;
            }
          }
        }
      }
    }
  }
}